# Develop
node_modules/
pnpm-lock.yaml
out/
dist/
/src/core.lib/common/
devconfig/*

# Editor
!.vscode/extensions.json
.idea/*

# Build
*.db
checkVersion.sh
bun.lockb
tests/run/
guild1.db-wal
guild1.db-shm
