@font-face {
  font-family: 'Sotheby';
  src: url('../assets/Sotheby.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'ProtoNerdFontItalic';
    src: url('../assets/0xProtoNerdFont-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

