name: "Build Action"
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions: write-all

jobs:
  Build-LiteLoader:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Main Repository
        uses: actions/checkout@v4
      - name: Use Node.js 20.X
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Build NapCat.Framework
        run: |
          pnpm i
          pnpm --filter napcat-webui-frontend run build || exit 1
          pnpm run build:framework
          cd packages/napcat-framework/dist
          pnpm install --production
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NapCat.Framework
          path: packages/napcat-framework/dist
  Build-Shell:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Main Repository
        uses: actions/checkout@v4
      - name: Use Node.js 20.X
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Build NapCat.Shell
        run: |
          pnpm i
          pnpm --filter napcat-webui-frontend run build || exit 1
          pnpm run build:shell
          cd packages/napcat-shell/dist
          pnpm install --production
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NapCat.Shell
          path: packages/napcat-shell/dist
