name: "Build Action"
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions: write-all

jobs:
  Build-LiteLoader:
    if: ${{ startsWith(github.event.head_commit.message, 'build:') }}
    runs-on: ubuntu-latest
    steps:
    - name: Clone Main Repository
      uses: actions/checkout@v4
      with:
          repository: 'NapNeko/NapCatQQ'
          submodules: true
          ref: main
          token: ${{ secrets.NAPCAT_BUILD }}
    - name: Use Node.js 20.X
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - name: Build NuCat LiteLoader
      run: |
          npm i
          npm run build:liteloader
          cd dist
          npm i --omit=dev 
          cd ..
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: NapCat.LiteLoader
        path: dist
  Build-Shell:
    if: ${{ startsWith(github.event.head_commit.message, 'build:') }}
    runs-on: ubuntu-latest
    steps:
        - name: Clone Main Repository
          uses: actions/checkout@v4
          with:
                repository: 'NapNeko/NapCatQQ'
                submodules: true
                ref: main
                token: ${{ secrets.NAPCAT_BUILD }}
        - name: Use Node.js 20.X
          uses: actions/setup-node@v4
          with:
              node-version: 20.x
        - name: Build NuCat LiteLoader
          run: |
                npm i
                npm run build:shell
                cd dist
                npm i --omit=dev
                cd ..
        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
              name: NapCat.Shell
              path: dist