name: "Build Release"

on:
  workflow_dispatch:

permissions: write-all

jobs:
  Build-LiteLoader:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Main Repository
        uses: actions/checkout@v4
      - name: Use Node.js 20.X
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Build NapCat.Framework
        run: |
          npm i -g pnpm
          pnpm i
          pnpm --filter napcat-webui-frontend run build || exit 1
          pnpm run build:framework
          mv packages/napcat-framework/dist framework-dist
          cd framework-dist
          npm install --omit=dev
          rm ./package-lock.json || exit 0
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NapCat.Framework
          path: framework-dist

  Build-Shell:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Main Repository
        uses: actions/checkout@v4
      - name: Use Node.js 20.X
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Build NapCat.Shell
        run: |
          npm i -g pnpm
          pnpm i
          pnpm --filter napcat-webui-frontend run build || exit 1
          pnpm run build:shell
          mv packages/napcat-shell/dist shell-dist
          cd shell-dist
          npm install --omit=dev
          rm ./package-lock.json || exit 0
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NapCat.Shell
          path: shell-dist

  release-napcat:
    needs: [Build-LiteLoader, Build-Shell]
    runs-on: ubuntu-latest
    steps:
      - name: Download All Artifact
        uses: actions/download-artifact@v4

      - name: Compress subdirectories
        run: |
          cd ./NapCat.Shell/
          zip -q -r NapCat.Shell.zip *
          cd ..
          cd ./NapCat.Framework/
          zip -q -r NapCat.Framework.zip *
          cd ..
          rm ./NapCat.Shell.zip -rf
          rm ./NapCat.Framework.zip -rf
          mv ./NapCat.Shell/NapCat.Shell.zip ./
          mv ./NapCat.Framework/NapCat.Framework.zip ./

      - name: Create Release Draft and Upload Artifacts
        uses: softprops/action-gh-release@v1
        with:
          name: NapCat
          token: ${{ secrets.GITHUB_TOKEN }}
          body: Automated release artifact (no version detection)
          files: |
            NapCat.Framework.zip
            NapCat.Shell.zip
          draft: true